// | Config
//
// Configuration styleguide section.
//
// Find here : Colors, font-face, classes namming convention, etc…
//
// Styleguide Config

/// Prefix project
//
// Config projet
//
// $project-prefix - `"Replace with right name"` is prefix of classe names of this project.
//
// (You can work out this context whith the `@at-root{}` block.)
//
// Styleguide Config.Project

$prefix: 'domainName';

// / Viewport limits
//
// min & max viewport limits width
//
// $vw-min : **Min to fill**
// $vw-max : **Max to fill**
//
// Styleguide Config.viewportLimits

$vw-min: "320" !default;
$vw-max: "1280" !default;