// | Layout
//
// Grid system and global styles for site structure:
// --> body, header, footer, globalWrapper, mainContainer
//
// Styleguide Layout

@at-root {
  body {
    color: color(fiord);
    background-color: white;
    font-family: $font-raleway-reg;
    -moz-osx-font-smoothing: grayscale;
    font-size: rem(16px);
    line-height: 1.3;
  }
}

&-globalWrapper {
  position: relative;
  overflow: hidden;
}

&-mainContainer {
  margin: 0 auto;
  max-width: calc(#{$vw-max}px + (#{$grid-gutter}*2)); // site expanded treshold
}