/// Extended link to full area
 //
 // markup :
 // <div class="u-extendedLink" style="height:50px;width:100%;background:silver;">
 // <a href="#" class="u-extendedLink-target">Link</a>
 // </div>
 //
 // Styleguide Utilities.extendedLink

.u-extendedLink {
  position: relative;

  &-target {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      cursor: pointer;
      z-index: 1;
    }
  }
}
